<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:p="http://www.springframework.org/schema/p"
    xmlns:context="http://www.springframework.org/schema/context"
    xmlns:mvc="http://www.springframework.org/schema/mvc"
    xsi:schemaLocation="
           http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans.xsd
           http://www.springframework.org/schema/context
           http://www.springframework.org/schema/context/spring-context.xsd
           http://www.springframework.org/schema/mvc
           http://www.springframework.org/schema/mvc/spring-mvc.xsd
  ">


    <!-- 静态资源不拦截 -->
    <!-- 默认静态资源路径控制 -->
    <!-- don't handle the static resource -->
    <!-- tomcat, jetty, JBoss, and GlassFish  默认 Servlet的名字 : "default" -->
    <mvc:default-servlet-handler />
    <!-- Resin 默认 Servlet的名字:   "resin-file" -->
    <!-- WebLogic 默认 Servlet的名字:   "FileServlet" -->
    <!-- WebSphere  默认 Servlet的名字:  "SimpleFileServlet" -->
    <!-- <mvc:default-servlet-handler default-servlet-name="所使用的Web服务器默认使用的Servlet名称" />  -->


    <!-- 指定静态资源路径控制  -->
    <mvc:resources mapping="/js/**" location="/static_resources/javascript/"/>
    <mvc:resources mapping="/styles/**" location="/static_resources/css/"/>
    <mvc:resources mapping="/images/**" location="/static_resources/images/"/>


</beans>