<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:p="http://www.springframework.org/schema/p"
    xmlns:context="http://www.springframework.org/schema/context"
    xmlns:mvc="http://www.springframework.org/schema/mvc"
    xmlns:aop="http://www.springframework.org/schema/aop"
    xsi:schemaLocation="
        http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd
        http://www.springframework.org/schema/mvc
        http://www.springframework.org/schema/mvc/spring-mvc.xsd
        http://www.springframework.org/schema/aop
        http://www.springframework.org/schema/aop/spring-aop.xsd
  ">



    <!-- 配置aop切面 -->
    <bean id="checkAspectExecutor" class="com.ssm.aop.aspect.CheckAspect" />
    <aop:config>
        <aop:aspect id="checkAspect" ref="checkAspectExecutor">
            <aop:pointcut id="checkPointcut" expression="execution(* com.ssm.aop.web.controller.*.*(..))"/>
            <aop:before pointcut-ref="checkPointcut" method="beforeCheck" />
        </aop:aspect>
    </aop:config>

    <!-- 添加Spring自动扫描被@Aspect标注的切面 -->
    <aop:aspectj-autoproxy/>

</beans>